[user]
	name = Alex Cartwright
	email = alexc223@gmail.com
[color]
	branch = auto
	diff = auto
	status = auto
[log]
	decorate = short
[core]
	excludesfile = ~/.gitignore-global
	editor = vim
	autocrlf = input
